.app-pictures {
  padding: 4rem 6rem 0 19rem;
  
  label {
    color: #eee !important;
  }
  input {
    color: #eee !important;
  }
  .selector-picture {
    color: #eee !important;

    #amount-undefined-Amount-51356 div:nth-child(2) {
      color: #eee !important;
    }
  }
}

