@import '../../variables.scss';

.home-page {
  margin: 0 !important;
  overflow: hidden !important;
  display: grid;
  grid-template-columns: 26% 44% 30%;
  grid-template-rows: 400px 100px 700px auto;
  grid-template-areas:
    "tit tit tit"
    "wea wea clo"
    "wea wea tod"
    "foo foo foo"
  ;

  .home-title {
    grid-area: tit;
  }
  .weather-app {
    grid-area: wea;
  }
  .clock {
    grid-area: clo;
  }
  .app-todo {
    grid-area: tod;
  }
  .app-footer {
    grid-area: foo;
  }
}

.home-title {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);

  h1 {
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    font-size: 5rem;
    padding: 0px 0 20px;
    text-shadow: 0 1px 5px #222;
  }
}

.home-page .app-clock {
  background: url(../../assets/mountain.png) no-repeat center 60%/cover;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;

  h2 {
    padding: 0;
    font-size: 3.5rem;
    color: $black;
    mix-blend-mode: difference;
    text-shadow: 2px 2px 2px #61DAFB;
  }
}

.app-todo {
  padding: 2rem 1rem;
  height: 100%;
  width: 100%;
  background: #61dafb;

  .todo-list {
    font-size: 1.4rem;

    h2 {
      text-align:center;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      padding: 10px 0 20px;
      text-shadow: 1px 1px 4px #999;
    }

    .collection-item {
      line-height: 2rem;
      font-weight: 500;
      color: #282C34;
      list-style-type: "🔥";
    }
  }

  .addTodo {
    text-align:center;

    input {
      padding: 1rem 1.4rem;
      outline: none;
      border: white;
      border-radius: 50px;
      transition: all 0.5s ease;
      font-size: 1.2rem;
      width: 100%;

      &::placeholder {
        color: rgb(79, 84, 95) !important;
        text-align: center;
      }

      &:focus {
        background-color: #282C34 !important;
        color: #61DAFB !important;
        border: #282C34;
      }
    }
    p {
      margin-top: 20px;
      font-size: .8rem;
    }
  }
}


@mixin logo ($direction, $size, $bottom, $val) {
  height: $size;
  width: $size;
  bottom: $bottom;
  #{$direction}: $val;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}
.footer {
  width: 100%;
  background: #282C34;
  color: #61DAFB;

  h2 {
    text-transform: uppercase;
    color: #F7C23D;
    padding: 40px 0 0 45px;
  }

  .youtuber-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 5% 60px;

    .line {
      a:visited {
        color: #61DAFB;
      }
      p {
        padding: 10px 20px;
      }
    }
  }

  .source {
    padding: 2rem 0 2.5rem;
    text-align: center;
  }

  .footer-logo-1 {
    position: relative;
    img {
      @include logo(right, 400px, -200px, -140px);
      animation: App-logo-spin 230s linear infinite;
    }
  }
  .footer-logo-2 {
    position: relative;
    img {
      @include logo(left, 100px, 50px, 250px);
      animation: App-logo-spin-other-side 60s linear infinite;
    }
  }
  .footer-logo-3 {
    position: relative;
    img {
      @include logo(left, 170px, -60px, 20px);
      animation: App-logo-spin 90s linear infinite;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spin-other-side {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}