.home-page {
  display: grid;
  grid-template-columns: 26% 44% 30%;
  grid-template-rows: 400px 100px 700px 10%;
  grid-template-areas:
    "tit tit tit"
    "wea wea clo"
    "wea wea tod"
    "foo foo foo"
  ;

  .home-title {
    grid-area: tit;
  }
  .weather-app {
    grid-area: wea;
  }
  .clock {
    grid-area: clo;
  }
  .app-todo {
    grid-area: tod;
  }
  .app-footer {
    grid-area: foo;
  }
}

.home-title {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);

  h1 {
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    color: #222;
    text-align: center;
    font-size: 5rem;
    padding: 0px 0 20px;
    text-shadow: 0 1px 5px #222;
  }
}

.home-page .app-clock {
  background: url(../../assets/mountain.png) no-repeat center 60%/cover;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;

  h2 {
    padding: 0;
    font-size: 3.5rem;
    color: #61DAFB;
    mix-blend-mode: difference;
    text-shadow: 2px 2px 2px #61DAFB;
  }
}

.app-todo {
  padding: 2rem 1rem;
  height: 100%;
  width: 100%;
  background: #61dafb;

  .todo-list {
    font-size: 1.2rem;

    h2 {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      text-shadow: 1px 1px 4px #999;
    }
  }

  .addTodo {
    text-align:center;

    input {
      padding: 1rem 1.4rem;
      outline: none;
      border: 1px solid #61DAFB;
      border-radius: 50px;
      transition: all 0.5s ease;
      font-size: 1.2rem;
      width: 100%;

      &::placeholder {
        color: rgb(79, 84, 95) !important;
        text-align: center;
      }

      &:focus {
        background-color: #282C34 !important;
        color: #61DAFB !important;
        border: #282C34;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 100%;
  background: #282C34;

  .footer-logo {
    overflow: hidden;
    position: relative;

    img {
      transform: scale(0.2);
      position: absolute;

      &:nth-of-type(1) {
        bottom: 10px;
      }
    }
    }
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}