
.logo-container {
  position: relative;
  transform: rotate(135deg);
}
.circle {
  border: 60px dashed #111;
  border-top-color: #fff;
  border-right-color: #fff;
  width: 0;
  height: 0;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotate 20s ease-in-out infinite;
}
@keyframe rotate {
  to {
    transform: translate(-50%,- 50%) rotate(360deg);
  }
}
