.logo-container {
  height: 26px;
  width: 60px;
  transform: rotate(135deg);

  .circle {
    border-radius: 50%;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 2px #61DAFB;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@mixin anim ($size, $rotate, $color) {
  border: $size dashed $color;
  border-top-color: #61DAFBff;
  border-right-color: #61DAFB;
  animation: $rotate 10s ease-in-out infinite;
}

.circle:nth-of-type(1) {
  @include anim (20px, rotateA, #111);
}
.circle:nth-of-type(2) {
  @include anim (16px, rotateB, #333);
}
.circle:nth-of-type(3) {
  @include anim (12px, rotateC, #555);
}
.circle:nth-of-type(4) {
  @include anim (8px, rotateD, #777);
}
.circle:nth-of-type(5) {
  @include anim (4px, rotateE, #999);
}

@keyframes rotateA {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotateB {
  to {
    transform: translate(-50%, -50%) rotate(720deg);
  }
}
@keyframes rotateC {
  to {
    transform: translate(-50%, -50%) rotate(1080deg);
  }
}
@keyframes rotateD {
  to {
    transform: translate(-50%, -50%) rotate(1440deg);
  }
}
@keyframes rotateE {
  to {
    transform: translate(-50%, -50%) rotate(1800deg);
  }
}
