.weather-body {
  text-align: center;
  color: white;
  background: url('./sunny.png') no-repeat center center/cover;
}

form {
  margin-top: 7rem;
}
form input[name='city'],
form input[name='country'] {
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}
form input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
}
form input::placeholder {
    color: white !important;
}
