@import './variables.scss';

* {
  text-decoration: none;
}
html {
  background: $second-color;
  margin: 0 !important;
  padding: 0 !important;
}
body {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0;
}
li {
  list-style-type: none;
  color: #eee;
}
a {
  color: #eee;
}
a:visited {
  color: #222;
}

/* ******************** NAVBAR ******************** */
.global-navbar {
  background: #222;
  height: 50px;
  display: grid;
  grid-template-columns: auto 70% 15%;
  grid-template-rows: 1fr;
  grid-template-areas:
      "logo nav dark";
  padding: 12px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 20px #222;

  @media screen and (max-width: 798px) {
    grid-template-columns: 70% 30%;
    grid-template-areas: "nav dark";

    ul {
      padding: 0 8px !important;
    }
    .logo-navbar {
      display: none;
    }
  }
  .logo-navbar {
    grid-area: logo;
  }

  ul {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 0 80px;
    grid-area: nav;

    li a:visited {
      color: #eee;
    }
  }

  .night-mode {
    display: flex;
    position: absolute;
    top: 4px;
    right: 10px;
    color: #ddd;
    grid-area: dark;

    .navbar-icon {
      transform: scale(0.85);
    }

    .toggle-container {
      padding: 0 7px;

      input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
      }
        
      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 36px;
        height: 18px;
        background: grey;
        float: right;
        border-radius: 100px;
        position: relative;
      }
        
      label:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        background: #222;
        border-radius: 90px;
        transition: 0.3s;
      }
        
      input:checked + label {
        background: grey;
      }
        
      input:checked + label:after {
        left: calc(100% - 3px);
        transform: translateX(-100%);
      }
        
      label:active:after {
        width: 28px;
      }
    }
  }
}
.nav-active {
  color: $main-color;
}

/* ********************* SIDEBAR ********************** */
.global-sidebar {
  width: 230px;
  height: 100%;
  position: fixed;
  top: 50px;
  background: $main-color;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 2rem 1rem;
  transform: translateX(-96%);
  transition: transform 0.3s cubic-bezier(.57,.21,.69,1.25);
  z-index: 10;
  box-shadow: 2px 0 15px 1px #222;

  h2 {
    padding-bottom: .8rem;
    text-align: center;
    color: $opposite-color;
  }
  a {
    color: #222;
    font-weight: 500;

    &:hover {
      color: $opposite-color !important;
    }
  }

  ul li {
    opacity: 0;
    color: #eee;
    transform: translate(-100%, 0%);
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.750,-0.015, 0.565,1.055);
    transition-property: opacity, transform;
  }

  input[type=checkbox] {
    display: none;
  
    &:checked ~ ul li {
      opacity: 1;
      transform: translateX(0); 
      transition-delay: 0.1s;   
    }
  }
  
  label {
    position: absolute;
    right: -2.9rem;
    top: 1.6rem;
    font-size: 2.5rem;
    background-color: $main-color;
    color: #222;
    padding: .5rem .5rem .3rem;
    border-radius: 0 6px 12px 0;
    cursor: pointer;
    z-index: 10;
    opacity: 1;

    &:hover svg {
      transform: scale(1.02);
      color: $opposite-color;
      transition: 1s ease;
    }
  }
  #closed-icon svg {
    position: absolute;
    right: -2.9rem;
    top: 1.5rem;
    font-size: 3.6rem;
    background-color: $main-color;
    color: #222;
    padding: .11rem .5rem .07rem;
    border-radius: 0 6px 12px 0;
    cursor: pointer;

    &:hover {
      color: $opposite-color;
      transition: 1s ease;
    }
  }
}