* {
  text-decoration: none;
}
li {
  list-style-type: none;
  color: #ddd;

}

.global-navbar {
  
}
.navbar-menu {
  display: flex;
  background: #222222;
  height: 4rem;
  justify-content: space-between;
}
.search form {
  display: flex;
  margin: 0 10px;
}
.searchInput {
  border: 0;
  width: 0;
  transition: width 0.1s ease-in;
}
.searchInput.active {
  width: 150px;
}
.searchInput:focus {
  outline: none;
}
.searchIcon {
  cursor: pointer;
}
.horloge h2 {
  font-size: 10em;
  letter-spacing: 0.2em;
  text-align: center;
}